.mui-poppicker {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 999;
	background-color: #eee;
	border-top: solid 0.02rem #ccc;
	box-shadow: 0 -0.12rem 0.17rem 0 rgba(0, 0, 0, 0.1);
	-webkit-transition: .3s;
	bottom: 0;
	-webkit-transform: translateY(7.5rem);
}
.mui-poppicker.mui-active {
	-webkit-transform: translateY(0);
}
.mui-android-5-1 .mui-poppicker {
	bottom: -7.5rem;
	-webkit-transition-property: bottom;
	-webkit-transform: none;
}
.mui-android-5-1 .mui-poppicker.mui-active {
	bottom: 0;
	-webkit-transition-property: bottom;
	-webkit-transform: none;
}
.mui-poppicker-header {
	padding: 0.15rem;
	font-size: 0.35rem;
	color: #888;
}
.mui-poppicker-header .mui-btn {
	font-size: 0.3rem;
	padding: 0.12rem 0.25rem;
}
.mui-poppicker-btn-cancel {
	float: left;
}
.mui-poppicker-btn-ok {
	float: right;
}
.mui-poppicker-clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}
.mui-poppicker-body {
	position: relative;
	width: 100%;
	height: 5rem;
	border-top: solid 0.02rem #ddd;
	/*-webkit-perspective: 1200px;
	perspective: 1200px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;*/
}
.mui-poppicker-body .mui-picker {
	width: 100%;
	height: 100%;
	margin: 0;
	border: none;
	float: left;
}